@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main {
  flex-grow: 1;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans" sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.form-input::placeholder {
  opacity: 0.6;
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.header {
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 70px;
}

.nav-logo {
  margin-right: 28px;
  margin-bottom: -6px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500;
  margin-right: auto;

  gap: 32px;
}

.nav-link {
  display: inline-block;
  padding: 20px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.nav-current {
  text-decoration: 2px;

  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 27px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}

.user-link {
  position: relative;

  display: inline-block;
  width: 44px;
  height: 44px;

  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
}

.user-link-search {
  background-image: url("../image/icons/search.svg");
}

.user-link-favourites {
  background-image: url("../image/icons/favourites.svg");
}

.favourites-number {
  position: absolute;
  top: 0;
  right: 0;

  display: inline-block;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.nav-button {
  min-width: 160px;
}

.welcome {
  position: relative;

  padding: 60px 70px;

  text-align: center;
  color: #ffffff;

  background-color: #096375;
  background-image: url("../image/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: cover;
}

.welcome::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 57px;

  background-image: url("../image/curve.svg");
  background-repeat: no-repeat;
}

.welcome-image {
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.welcome-image img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Преимущуства */
.advantages-description {
  padding: 50px 70px;
}

.advantages-description-title {
  width: 620px;
  margin: 0 auto 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-content {
  width: 400px;
  min-height: 385px;
  padding: 115px 85px 100px;

  text-align: center;
}

.advantages-container .advantages-content {
  padding-top: 105px;
}

.advantages-item-full {
  width: 100%;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-title {
  margin: 0 auto 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item:last-child .advantages-container {
  flex-direction: row-reverse;
}

/* Вместо flex-direction можно order:-1 */

.advantages-container .advantages-title {
  color: #ffffff;
}

.advantages-text {
  margin: 0;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

.services-description {
  padding: 64px 70px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item.services-item:nth-child(even) {
  background-color: #ffffff;
}

.services-content {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 81px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: top 81px center;
}

.services-content-home {
  background-image: url(../image/icons/house.svg);
}

.services-content-food {
  background-image: url(../image/icons/burger.svg);
}

.services-content-souvenirs {
  background-image: url(../image/icons/present.svg);
}

.search {
  box-sizing: border-box;
  padding: 96px 70px;

  text-align: center;
}

.search-title {
  margin-bottom: 20px;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  width: 376px;

  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  min-height: 414px;
  padding: 96px 70px 104px;
}

.subscribe-home {
  color: #ffffff;

  background-color: #096375;
  background-image: url("../image/background-mailing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-text {
  margin-bottom: 54px;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  width: 684px;
  margin: 0 auto;
}

.subscribe-input {
  width: 452px;
  height: 52px;

  border-radius: 4px 0 0 4px;
}

.subscribe-input::placeholder {
  font-weight: 400;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.filter {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #096375;
  background-image: url("../image/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-title {
  margin: 0 0 8px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;

  background-image: url("../image/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-form {
  display: grid;

  gap: 70px;
  grid-template-columns: auto auto 1fr auto;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-group-buttons {
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.control-item {
  margin-bottom: 16px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 70px;
}

.sorting-title {
  display: block;
  margin-right: auto;

  text-align: left;
}

.sorting-select {
  width: 292px;
  margin-right: 70px;
  padding: 5px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans" sans-serif;
  color: #333333;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-view {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link-active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../image/view-icon/view-tile.svg");
}

.view-link-slideshow {
  background-image: url("../image/view-icon/view-one.svg");
}

.view-link-list {
  background-image: url("../image/view-icon/view-list.svg");
}

.hotels {
  padding: 0 70px;
}

/*grid*/
.hotels-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;

  border-bottom: 1px solid #e6e6e6;

  gap: 20px;
}

/*grid*/
.hotels-item {
  width: 340px;
  min-height: 438px;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels-link {
  color: #000000;
  text-decoration: none;
}

.hotels-img {
  margin: 0;
}

.hotels-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.hotels-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotels-text + .hotels-text {
  text-align: right;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-rating-star {
  display: block;
  height: 37px;

  background-image: url("../image/stars4.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.hotels-rating-star-4 {
  width: 90px;
}

.hotels-rating-star-3 {
  width: 70px;
}

.hotels-rating-star-2 {
  width: 50px;
}

.hotel-rating {
  display: inline-block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;

  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 150px;
}

.phone {
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
